body{
  background-color: rgba(208, 204, 204, 0.959);
}

h1{
  color: red;
  text-align: center;
  font-size: 12em;
  font-weight: bolder;
}

.asteriskField{
  color: red;
}

.btn:hover {
  background-color: #1e3a8a;
  color: white;
  box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
 }
 