{% extends 'savingsApp/base.html' %} 
{% load static %}

<title>Savings | Dashboard</title>
<!-- Load Google Charts Library -->
<script src="https://www.gstatic.com/charts/loader.js"></script>
<!-- Include any additional CSS or JS files here -->
</head>
<body>
  {% block content %}
    <div class="container-fluid">
        <!-- Key Metrics Section -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
            <div class="text-white tooltip-test p-4 rounded shadow-md dark:bg-gray-600" title="Total Group Members">
                <h2 class="text-lg font-bold">Total Members</h2>
                <p class="text-xl">{{ total_members }}</p>
            </div>
            <div class="text-white p-4 rounded shadow-md dark:bg-gray-700 tooltip-test" title="All savings made">
                <h2 class="text-lg font-bold">Total Savings</h2>
                <p class="text-xl">UGX. {{ total_savings|floatformat:2 }}</p>
            </div>
            <div class="text-white p-4 rounded shadow-md dark:bg-gray-800 tooltip-test" title="Average savings">
                <h2 class="text-lg font-bold">Average Savings</h2>
                <p class="text-xl">UGX. {{ average_savings|floatformat:2 }}</p>
            </div>
        </div>

        <!-- Charts and Graphs section -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div id="savings-pie-chart"></div>
            <div id="savings-bar-chart"></div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var pie_chart_data = {{ pie_chart_json|safe }};
        
                // Resize chart to fit the container on window resize
                window.addEventListener('resize', function() {
                    Plotly.relayout('savings-pie-chart', {
                        width: document.getElementById('savings-pie-chart').clientWidth,
                        height: document.getElementById('savings-pie-chart').clientWidth // Square aspect ratio
                    });
                });
        
                // Initial Plot
                Plotly.newPlot('savings-pie-chart', pie_chart_data.data, pie_chart_data.layout, {responsive: true});
        
                // Ensure the chart is responsive on initial load
                Plotly.relayout('savings-pie-chart', {
                    width: document.getElementById('savings-pie-chart').clientWidth,
                    height: document.getElementById('savings-pie-chart').clientWidth
                });
            });
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var bar_chart_data = {{ bar_chart_json|safe }};
                Plotly.newPlot('savings-bar-chart', bar_chart_data.data, bar_chart_data.layout, {responsive: true});
            });
        </script>

        <!-- Table -->
        <h2 id="members" class="text-4xl text-center font-bold text-blue-800 pt-5">Registered Members of the Group</h2>

        <!-- Search form for the members from the table -->
        <div class="form-container my-4 flex justify-center">
            <form method="GET" class="flex space-x-2 w-full md:w-1/2">
                <input type="text" name="search" class="form-control px-4 py-2 w-full" placeholder="Search by Names or Member Number">
                <button type="submit" class="btn btn-primary px-4 py-2 bg-blue-600 text-white rounded-md">Search</button>
            </form>
        </div>

        <!-- Table with members' information -->
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <thead style="background-color: #1f2937; color: white;">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Location</th>
                        <th>Next of Kin</th>
                        <th>Save Money</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in page_obj %}
                    <tr data-href="{% url 'member_detail' user.id %}">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.contact }}</td>
                        <td>{{ user.location }}</td>
                        <td>{{ user.next_of_kin }}</td>
                        <!-- Display the user's photo if it exists, otherwise show the default profile image -->
                        <td>
                            {% comment %} <img src="{% if user.profile_photo %}{{ user.profile_photo.url }}{% else %}{% static 'images/logo.jpg' %}{% endif %}" 
                                 alt="{{ user.name }}'s photo" 
                                 width="100" 
                                 height="100"> {% endcomment %}
                            <a href="{% url 'save' user.id %}" class="btn btn-primary">Deposit</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No members found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const rows = document.querySelectorAll('tr[data-href]');
                rows.forEach(row => {
                    row.addEventListener('click', function() {
                        window.location.href = this.getAttribute('data-href');
                    });
                });
            });
        </script>

        <!-- Pagination Controls -->
        <nav aria-label="Page navigation">
            <ul class="pagination flex justify-center space-x-1">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div class="container dark:bg-gray-800 mt-4">
            <img src="{% static 'images/footer-image.jpg' %}" alt="footer-image" class="w-full">
        </div>

        <div class="bg-white py-5">
            <div class="">
              <h2 class="text-center font-weight-semibold mb-5">Trusted by the world’s most innovative teams</h2>
              <div class="row text-center">
                <div class="col-6 col-sm-4 col-lg">
                  <img class="img-fluid" src="https://tailwindui.com/img/logos/158x48/transistor-logo-gray-900.svg" alt="Transistor" width="158" height="48">
                </div>
                <div class="col-6 col-sm-4 col-lg">
                  <img class="img-fluid" src="https://tailwindui.com/img/logos/158x48/reform-logo-gray-900.svg" alt="Reform" width="158" height="48">
                </div>
                <div class="col-6 col-sm-4 col-lg">
                  <img class="img-fluid" src="https://tailwindui.com/img/logos/158x48/tuple-logo-gray-900.svg" alt="Tuple" width="158" height="48">
                </div>
                <div class="col-6 col-sm-4 col-lg">
                  <img class="img-fluid" src="https://tailwindui.com/img/logos/158x48/savvycal-logo-gray-900.svg" alt="SavvyCal" width="158" height="48">
                </div>
                <div class="col-6 col-sm-4 col-lg">
                  <img class="img-fluid" src="https://tailwindui.com/img/logos/158x48/statamic-logo-gray-900.svg" alt="Statamic" width="158" height="48">
                </div>
              </div>
            </div>
          </div>
          
    </div>
  {% endblock %}
