{% extends 'savingsApp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container">

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="form-group col-md-6 mb-0">
        {{ form.member|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.amount|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.save_time|as_crispy_field }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  </div>
{% endblock %}


